build:
    stage: build
    when: always
    image: node:20
    tags:
        - hva
    # Make sure this job can be canceled
    interruptible: true
    cache:
        key:
            files:
                - package-lock.json
            prefix: npm
        paths:
            - node_modules/
    script:
        - npm install
        # Build the documentation site
        - npm run typedoc
        # Build the backend application
        - cd src/api
        - npm run build
        # Build the frontend application
        - cd ../web
        - npm run build
    artifacts:
        paths:
            - dist
    rules:
        # Auto-deploy HBO-ICT.Cloud if the the default or "dev" branch is used
        - if: ($CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH == "dev" ) && $DEPLOY_HIC == "true"
        # Auto-deploy GitLab Pages if the default branch is used
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $DEPLOY_PAGES == "true"
        # Otherwise allow manual deployment
        - when: manual
