@font-face {
    font-family: "Onesize";
    src: url("/assets/fonts/Onesize.eot");
    src: url("/assets/fonts/Onesize.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Onesize.woff2") format("woff2"), url("/assets/fonts/Onesize.woff") format("woff"),
        url("/assets/fonts/Onesize.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 0;
    height: 100vh;
    background-color: #0b0b0b;
    color: white;
}

game-root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
